

html {
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   height: 100%;
}

body {
   background-color: white;
   border-left: 1px solid rgb(120, 81, 45);
   border-right: 1px solid rgb(120, 81, 45);
   margin: 0px auto;
   min-width: 800px;
   max-width: 1200px;  
   width: 100%;
}


header img#logo{
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   background: white;
}

header {
   color: white;
}


header nav ul{
   display:flex;
   justify-content: center;
   background: rgb(255, 231, 172);
   border: none;
   justify-content: space-evenly;
}

header nav ul li {
   font-size: 1.2em; 
   padding: 15px 10px;
   text-align: center;
   list-style: none;
   
}

header nav ul li a {
   color: rgb(120, 81, 45);
   text-decoration: none;
   transition: 0.5s;
}

header nav ul li a:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(174, 214, 191);
   padding: 10px;
   border-radius: 20px;
}


section {
   background-color: rgb(255, 231, 172);
   margin: 30px 3%;
}


#outersection{
   display: grid;
   justify-content: right;
   align-items: right;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr ;
   background-color: rgb(174, 214, 191);
   }
#Introduction{
   display: grid;
   grid-column: 1/3;
   padding: 20px;

}

#Reviews{
   display: grid;
   grid-area: 1/3/1/3;
   padding: 20px;
   margin-right: 20px;
   
   
}

section h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 2.5em;
   color:  rgb(120, 81, 45) ;
   margin-bottom: 35px;
   
   
}
section h2{
   color: red;
   text-align: center;
}
section  p {
   line-height: 1.4em;
   margin: 15px 0px;
   display: grid;
}

div p{
   text-align: center;
   padding: 5px;
   padding-right: 50px;
}


section div img{
   width: 300px;
   height: 300px;
   transition: 0.6s;
   border-radius: 50px;
}

div img:hover{
   transform: scale(1.2);
   z-index: 2;
   
}
section#grid{
   display: grid;
   justify-content: left;
   align-items: left;
   padding: 20px;
   padding-right: 8px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   background-color: rgb(174, 214, 191);
}


 
section#gridouter {
   background-color:rgb(255, 231, 172);
   padding-top: 20px;
padding-bottom: 20px;
border: 4px dashed rgb(174, 214, 191);}

div h1{
   padding-left: 20px;
}

div li{
   background-color:rgb(174, 214, 191);
   display: flex;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 70px;
   padding: 10px;
   border-radius: 10px;
   list-style: none;
}

div li a{
   text-decoration: none;
   color: white;
}

footer {
   color: rgb(130, 184, 170);    
   background-color: rgb(255, 231, 172);   
   padding: 20px 40px;
   display: grid;
   grid-template-columns: 20% 20% 30% 30%;
   grid-column-gap: 15px;
}

footer h1 {
   color: rgb(120, 81, 45);   
   font-size: 1em;
   margin: 10px 0px;
   margin-top: 0px;
}

footer a {
   display: block;
   color: rgb(130, 184, 170);
   text-decoration: none;
   font-size: 0.9em;
   margin-left:20px ;
   padding: 3px;
}
address{
   font-size: 0.9em;
}