html {
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
 }
 
body {
   background-color: white;
   margin: 0;
   width: 100%;
   min-height: 100vh;
}
 
 
 header img#logo{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: white;
 }
 
 header {
    color: white;
 }
 
 
 header nav ul{
    display:flex;
    justify-content: center;
    background: rgb(255, 231, 172);
    border: none;
    justify-content: space-evenly;
    margin: auto;
 }
 
 header nav ul li {
    font-size: 1.2em; 
    padding: 15px 10px;
    text-align: center;
    list-style: none;
   
    
 }
 
 header nav ul li a {
    color: rgb(120, 81, 45);
    text-decoration: none;
    transition: 0.5s;
 }
 
 header nav ul li a:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(174, 214, 191);
   padding: 10px;
   border-radius: 10px;
}

section#grid{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(174, 214, 191);


 }

 section#grid img{

   display: block;
   margin: 0 auto;

 }

 section div{
      margin: 15px;
 }



#discription{
    font-size: 0.8em;
    font-style:inherit;
}

div img:hover{
   transform: scale(1.2);
   z-index: 2;
}


 section div img{
    width: 200px;
    height: 200px;
    
    transition: 0.6s;
    
 }

 section div p{
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    background-color: rgb(255, 231, 172);
    margin: auto;
    width: 190px;
    font-style:italic;
    ;

    
 }

 footer {
    color: rgb(130, 184, 170);    
    background-color: rgb(255, 231, 172);   
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    grid-column-gap: 15px;
 }
 
 footer h1 {
    color: rgb(120, 81, 45);   
    font-size: 1em;
    margin: 10px 0px;
    margin-top: 0px;
 }
 
 footer a {
    display: block;
    color: rgb(130, 184, 170);
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px;
    
 }
 address{
    font-size: 0.9em;
 }
