html {
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
 }
 
 body {
    background-color: white;
    border-left: 1px solid rgb(120, 81, 45);
    border-right: 1px solid rgb(120, 81, 45);
    margin: 0px auto;
    min-width: 800px;
    max-width: 1200px;  
    width: 100%;
 }
 
 section{
    background-color: rgb(174, 214, 191);
    padding-top: 20px;
 }
 header img#logo{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: white;
 }
 
 header {
    color: white;
 }
 
 
 header nav ul{
    display:flex;
    justify-content: center;
    background: rgb(255, 231, 172);
    border: none;
    justify-content: space-evenly;
    margin: auto;
 }
 
 header nav ul li {
    font-size: 1.2em; 
    padding: 15px 10px;
    text-align: center;
    list-style: none;
    
 }
 
 header nav ul li a {
    color: rgb(120, 81, 45);
    text-decoration: none;
    transition: 0.5s;
 }
 
 header nav ul li a:hover {
   color: rgb(255, 255, 255);
   background-color: rgb(174, 214, 191);
   padding: 10px;
   border-radius: 10px;
}
 form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
 }
 
 fieldset {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 0.85em;
    padding: 10px;
    width: 500px;
 }
 
 div#first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin: 5px;
 }
 div#second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin: 5px;
    margin: 5px;
    

 }
 
 div#buttons{
    grid-column: 1/-1;
    text-align: center;
    padding-top: 10px;
    padding-right: 60px; 
    
 }
input[type='submit']{
    font-size: 1.0em;
    background-color: wheat;
    border-radius: 20px;
    border: none;
    color: rgb(120, 81, 45);
    padding: 10px;
}
input[type='submit']:hover{
     transform: scale(1.2);
     z-index: 2;
}
 legend {
    background-color: rgb(255, 231, 172);
    color: rgb(120, 81, 45);
    padding: 10px;
    border-radius: 20px;
 }


footer {
    color: rgb(130, 184, 170);    
    background-color: rgb(255, 231, 172);   
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    grid-column-gap: 15px;
 }
 
 footer h1 {
    color: rgb(120, 81, 45);   
    font-size: 1em;
    margin: 10px 0px;
    margin-top: 0px;
 }
 
 footer a {
    display: block;
    color: rgb(130, 184, 170);
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px;
    
 }
 address{
    font-size: 0.9em;
 }